@import "./sliderNav.scss";
.app-main {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 180px;
    .nav-bar {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #eee;
        text-align: left;
        position: relative;
        z-index: 1000;
        .collapsed {
            // position: absolute;
            // left: 10px;
            margin-left: 10px;
            margin-top: 4px;
            transition-duration: 0.2s;
            transition-timing-function: ease;
            // 可展开的状态
            // &.expend-collapsed {
            //     margin-left: -90px;
            // }
        }
        .ant-breadcrumb {
            display: inline-block;
            margin-left: 20px;
        }
    }
    &.expend-collapsed {
        margin-left: 80px;
    }
    .user-info {
        float: right;
        height: 50px;
        line-height: 50px;
        // overflow: hidden;
        width: 200px;
        text-align: center;
        z-index: 1000;
        li {
            list-style: none;
            padding: 0 20px;
            text-align: center;
            cursor: pointer;
            &.login-out-btn {
                display: none;
            }
            
        }
        &:hover .login-out-btn {
            display: block;
            cursor: pointer;
            &:hover {
                background-color: #ddd;
            }
        }
    }
}
